EXAM_METADATA_AUTHOR = "Fachschaft WiWi, Uni Münster"
EXAM_MIN_YEAR = 2010
EXAM_MAX_YEAR = 2030
SEMESTER_SETTINGS = [
    {
        "code": "WS",
        "display_name": "Winter Semester",
        "start_date": (10, 1),
        "end_date": (3, 31),
    },
    {
        "code": "SS",
        "display_name": "Summer Semester",
        "start_date": (4, 1),
        "end_date": (9, 30),
    },
]
